body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styling  */
.field {
  display: grid;
  border: 1px solid cadetblue;
}

.App {
  display: flex;
  justify-content: center;
}

.square {
  border: 1px solid cadetblue;
}

.user {
  background-color: palegreen;
}

.computer {
  background-color: tomato;
}
